%br
%br
  %h3 Products List
  .row
    .col-md-12
      - if user_signed_in? && current_user.admin?
        = render 'form'
      .row
        - @products.each do |product|
          = render 'product', product: product
